<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title>rock paper scissors</title>
      <link rel='stylesheet' href='/style.css'
    </head>
    <body>
    </nav>
  </ul>
<li> <a href="/"> rules </a></li>
<li> <a href="/rock_paper_scissors/cat/cat"> rock_paper_scissors </a></li>

   <ul>
     <nav>
      <%= yield %>
    </body>
  </html>
